header{
margin:45px ;
background-color: #6E3EDC;
text-size-adjust: 85px;
justify-content: center;
border:solid 1px rgb(#DB4D92);
padding: 20px;
}



body{
    background-color: #D435DB;
    color: black;
}
section{
 background-color: rgb(#1F24DB);
 margin:50px;
 display: block;
 
 
}




