header{
margin:45px ;
background-color: blueviolet;
text-size-adjust: 85px;
justify-content: center;

}



body{
    background-color: rgba(119, 9, 170, 0.5);
    color: black;
}
section{
 background-color: aqua;
 margin:50px;
 display: flex;
}




